.play-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0,0,0,0.1);
  backdrop-filter: blur(1px); */
}

.elements-container {
  position: absolute;
  left: 0;
  top: 0;
  margin: 2vw;
}

.language-container {
  display: flex;
}

.language-container .name {
  margin-left: 2vw;
}

/**
 * Controls
 */
.controls {
  position: absolute;
  bottom: 5%;
  left: 3%;

  display: grid;
  column-gap: 2%;
  grid-template-areas: "left nothing right";
  align-items: center;
}

.content-left {
  grid-area: left;
}

.content-right {
  grid-area: right;
}

.key-with-defintion {
  display: grid;
  column-gap: 2%;
  grid-template-areas: "left nothing right";
  justify-content: left;
}

.key-with-defintion-right {
  grid-area: right;
}

.key-with-defintion-left {
  grid-area: left;
}

.text-centered {
  /* Center text vertical and horizontal*/
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.25vh;
}

/* Key properties */
.raw {
  display: flex;
  justify-content: center;
}

.key {
  width: 40px;
  height: 40px;
  margin: 4px;
  border: 2px solid #ffffff;
  border-radius: 10%;
  background: #ffffff44;
}

.key.large {
  width: 144px;
}

.key.medium {
  width: 100px;
}

.key.active {
  background: #ffffff99;
}

/* Buttons group */
.buttons-group {
  pointer-events: none;
  position: fixed;
  z-index: 10;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 6px;
  
  top: 0;
  width: 100%;
}

.buttons-group-row {
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin: 20px;
}

/* Button custom */
.button-custom {
  width: 40px;
  height: 40px;
  border-radius: 0.5rem /* 8px */;
  background-color: #6366f1;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;

  color: #ffffff;
  font-weight: 500;

  border: none;

  pointer-events: auto;

  padding: 6px;
  cursor: pointer;
}

.button-custom:hover {
  background-color: #4f46e5;
}