.play-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/**
 * Controls
 */
.controls {
  position: absolute;
  bottom: 5%;
  left: 3%;

  display: grid;
  column-gap: 2%;
  grid-template-areas: "left nothing right";
  align-items: center;
}

.content-left {
  grid-area: left;
}

.content-right {
  grid-area: right;
}

.key-with-defintion {
  display: grid;
  column-gap: 2%;
  grid-template-areas: "left nothing right";
  justify-content: left;
}

.key-with-defintion-right {
  grid-area: right;
}

.key-with-defintion-left {
  grid-area: left;
}

.text-centered {
  /* Center text vertical and horizontal*/
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.25vh;
}

/* Key properties */
.raw {
  display: flex;
  justify-content: center;
}

.key {
  width: 40px;
  height: 40px;
  margin: 4px;
  border: 2px solid #ffffff;
  border-radius: 10%;
  background: #ffffff44;
}

.key.large {
  width: 144px;
}

.key.medium {
  width: 100px;
}

.key.active {
  background: #ffffff99;
}

/* Buttons group */
.buttons-group {
  pointer-events: none;
  position: fixed;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 6px;
  
  top: 0;
  width: 100%;
  margin-top: 20px;
}

.buttons-group-row {
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-left: 20px;
  margin-right: 20px;
}