@font-face {
  font-family: PoppinsRegular;
  src: url(fonts/Poppins-Regular.ttf);
}

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(4px);

  font-family: PoppinsRegular, "Poppins", Arial !important;
}

/* Buttons group */
.buttons-group {
  pointer-events: none;
  position: fixed;
  
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 6px;
  
  top: 0;
  width: 100%;
  margin-top: 20px;
}

.buttons-group-row {
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Modes */
.modes-selector {
  display: flex;
  flex-direction: column;
  position: fixed;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 0;
  width: 90%;
}

/* Assets */
.assets-box {
  border-radius: 0.5rem /* 8px */;
  border: 3px solid rgba(32, 24, 63, 0.4);

  backdrop-filter: blur(10px);
  background-color: #8d7c9ba2;

  position: fixed;

  display: flex;
  flex-direction: column;

  margin-top: 20px;
  margin-left: 20px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;

  gap: 12px;
  width: 40%;
  top: 60px;
  left: 0;
  height: auto;
}

.assets-box-2 {
  display: flex;
  align-items: center;
  gap: 1.5rem /* 24px */;
  pointer-events: auto;

  overflow-x: auto;

  padding-left: 1.5rem /* 24px */;
  padding-right: 1.5rem /* 24px */;
  padding-bottom: 0.5rem /* 8px */;

  overflow-x: auto;
}

.category {
  color: black;
  font-weight: 500;
  flex-shrink: 0;

  background-color: transparent;
  border: none;
  border-bottom-width: 1px;

  cursor: pointer;
}

.category:hover {
  color: rgb(255, 255, 255);
}

.category-selected {
  color: rgb(255, 255, 255);

  border-bottom: 2px solid white;
}

.assets-box-assets {
  display: flex;
  gap: 0.5rem /* 8px */;
  flex-wrap: wrap;

  padding-left: 1.5rem /* 24px */;
  padding-right: 1.5rem /* 24px */;

  overflow-y: auto;
}

.asset {
  width: 5rem /* 80px */;
  height: 5rem /* 80px */;
  
  border-radius: 10px;

  border: 3px solid black;
  
  overflow: hidden;

  pointer-events: auto;
  cursor: pointer;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 300ms;

  padding: 3px;
}

.asset:hover {
  opacity: 0.5;
}

.asset img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border: none;
}

.asset-selected {
  border-color: white;
}

.asset-no-selected {
  opacity: 0.8;
}

/* Removable asset */
.removable {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(0 0 0 / 0.4);
  color: #ffffff;
}

/* Color picker */
.color-picker {
  pointer-events: auto;
  position: fixed;
  display: flex;
  gap: 0.5rem /* 8px */;
  max-width: 65%;
  overflow-x: auto;

  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;

  padding-left: 0.5rem /* 8px */;
  padding-right: 0.5rem /* 8px */;

  top: 10px;
  left: 10px;
}

.color-picker-button {
  width: 2.5rem /* 40px */;
  height: 2.5rem /* 40px */;

  flex-shrink: 0;

  border-radius: 10px;
  border: 2px solid black;
  
  overflow: hidden;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;

  border-width: 2px;

  padding: 3px;
}

.color-picker-button-selected {
  border-color: white;
}

.asset-locked {
  font-size: small;
  color: #f87171;
  padding-left: 24px;
  padding-right: 24px;
}

/* Modes */
.modes {
  display: flex;
  justify-content: stretch;
}

.modes-button {
  flex: 1 1 0%;
  pointer-events: auto;
  cursor: pointer;
  padding: 16px;
  color: "#fff";
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  font-weight: 500;
}

.modes-button-selected {
  background-color: rgb(99 102 241 / 0.9);
}

.modes-button-not-selected {
  background-color: rgb(99 102 241 / 0.3);
}

.modes-button-not-selected:hover {
  background-color: rgb(99 102 241 / 0.5);
}





.resizable {
  background: white;
  /* width: 200px;
  height: 200px; */
  position: relative;
  /* top: 100px;
  left: 100px; */
}

.resizable .resizers {
  width: 100%;
  height: 100%;
  border: 3px solid #4286f4;
  box-sizing: border-box;
}

.resizable .resizers .resizer {
  width: 10px;
  height: 10px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
}

.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}

.resizable .innerContent {
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}